*{
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration:none;
    
}
.top{
    height: 40px;
    background:white;
    background-size: 100%;
    display: flex;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);;
}
.logo{
    float: left;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding-left: 20px;
    line-height: 50px;
    height:56px;
    width: 171px;
    transition: background-color 0.3s ease 0s;
    background-color:#2b2f3a;
    text-decoration: none;
    font-family:"宋体";
    font-weight: bolder;
    text-align: center;
    letter-spacing: 10px;
    padding: 0 10px;
}
.left-button,.top_out,.top_admin{
    display:block;
    background :0px 0px no-repeat rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    width: 32px;
    height: 32px;
    margin-top: 10px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.top_out{
    display: block;
    position:absolute;
    width: 40px;
    right: 20px;
    list-style: none;
    background-color: #1890ff;
    color: white;
    top:-5px;
    font-size:20;
}
.top_out a{
	color:white;
}


.left{
    position: absolute;
    top: 51px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    padding-top: 10px;
    background-color: #304156;
    width: 190px;
    max-width: 220px;
    overflow: hidden;
    border-right: 1px solid rgb(19, 30, 38);
}
.i{
    font-size:20px;
    padding: 12px 15px 12px 20px;
    display: block;
    cursor: pointer;
    color: rgb(142, 142, 142);
    transition: background-color 0.3s ease 0s;
}

.open-box:hover .i{
   color: white;
 
}
.open-box li{
    
    height: 0px;
    transition-timing-function: linear;
    transition: height 0.5s;
    opacity: 0;
}

input{
    display: none;
}

input:checked  ~ li{
    opacity: 1;
    display: block;
    background: rgb(54, 54, 54);
    height: 100px; 
    border-left: 4px solid rgb(66, 184, 241);
    
}
.open-box a{
	padding-left:50px;
    display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: #bfcbd9;
}
.open-box a:hover{
    
    color: #1890ff;
    background:#1f2d3d;
    
}


